body {
    background-image: url(/pics/UserPortalBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Title{

    padding-right:50%;
}



.infoGrid {
    padding-top:1%;
}

.logOut {
    padding-left: 38%;
}

.message{
    padding-top:1%;
}
