body {
    background-image: url(/pics/UserPortalBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.message{
    padding-top:1%;
    padding-bottom:1%;
}

.acceptTitle {
    padding-top:2%;
    font-size:25px;
    padding-bottom: 2%;
}


.acceptGridDiv {
    padding-left: 27%;
    overflow-y:auto;
    overflow-x:hidden;
    height:175px;
}

#acceptedTourGrid td {
    padding: 8px 10px;
}

#acceptedTourGrid th {
    padding: 8px 25px;
}
