body {
    background-image: url(/pics/UserPortalBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Title{
    padding-left:10%;
    padding-right:50%;
}

.detailsTitle {
    padding-left: 10%;
}

.infoGrid {
    padding-top: 1%;
    padding-left: 20%;
}

.logOut {
    padding-left: 44%;
}

.message{
    padding-top:1%;
    padding-left:20%;
}
