<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString"
          connectionString="data source=.; database=Tours; Integrated Security=SSPI"
          providerName="System.Data.SqlClient" />
  </connectionStrings>

  
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>

    <!--form authetentication mode defined-->
    <!--session will remain active only for 5 min-->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="5"  protection="All">
      </forms>
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <httpRuntime targetFramework="4.7.2"/>
  </system.web>

  <!--sign up page access defined-->
  <location path="SignUp.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>

  </location>

  <!--admin page access defined-->
  <location path="AdminPortal.aspx">
    <system.web>
      <authorization>
        <allow users="admin"/> 

        <deny users="*"/>
      </authorization>

    </system.web>
  </location>
  
  <location path="CreateTour.aspx">
    <system.web>
      <authorization>
        <allow users="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="TourDetailsPage.aspx">
    <system.web>
      <authorization>
        <allow users="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--some default vs code -->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
